ENVIROMENT=develpoment
PORT=

DOMAIN=gaechwi.duckdns.org
EMAIL=

DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

REDIS_HOST=
REDIS_PORT=

JWT_SECRET=

OPENAI_API_KEY=

DB_PASSWORD=
DB_NAME=
DB_USER=


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
AWS_ENDPOINT_URL=